<h1>My App</h1>

{{#if featureFlags.secretMessage.isEnabled}}
  <p id="secret-message">This is a secret message.</p>
{{else}}
  <p id="normal-message">This is a normal message.</p>
{{/if}}

{{outlet}}
